.colors-tag-copy__copied{
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 5px 15px;
  height: 70vh;
  font-weight: 500;
  box-shadow: -2px 4px 1px #dddddd;
  font-size: 1.5rem;
  color: #ffffff;
  
  .colors-tag--name-code {
    font-size: 4rem;
  }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  .colors-tag-copy__copied {
    grid-column: 1 / 2;
  }
}

@media screen and (max-width: 767px) {
  .colors-tag-copy__copied {
    grid-column: 1 / 2;
    height: 65vh;
    font-size: 1.25rem;

    .colors-tag--name-code {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 345px) {
  .colors-tag-copy__copied {
    grid-column: 1 / 2;
    height: 50vh;

    .colors-tag--name-code {
      font-size: 1.5rem;
    }
  }
}