@media (max-width: 767px){
  .footer_colors--copyright{
    font-size: .85rem;
    line-height: 3;
  }
}

@media (max-width: 345px) {
  .footer_colors--copyright {
    font-size: .75rem;
    line-height: 3;
  }
}